set_schedule:
  name: Set climate schedule
  description: Configure temperature schedule for a climate entity
  fields:
    entity_id:
      description: Climate entity to control
      required: true
      example: "climate.living_room"
      selector:
        entity:
          domain: climate
    nodes:
      description: List of schedule nodes with time and temperature
      required: true
      example: '[{"time": "07:00", "temp": 21}, {"time": "23:00", "temp": 18}]'
    day:
      description: Day of week for this schedule (all_days, mon, tue, wed, thu, fri, sat, sun, weekday, weekend)
      required: false
      default: "all_days"
      example: "mon"
      selector:
        text:
    schedule_mode:
      description: Schedule mode (all_days, 5/2, individual)
      required: false
      default: "all_days"
      example: "individual"
      selector:
        text:

get_schedule:
  name: Get climate schedule
  description: Retrieve the current schedule for a climate entity
  fields:
    entity_id:
      description: Climate entity to get schedule for
      required: true
      example: "climate.living_room"
      selector:
        entity:
          domain: climate

clear_schedule:
  name: Clear climate schedule
  description: Remove the schedule for a climate entity
  fields:
    entity_id:
      description: Climate entity to clear schedule for
      required: true
      example: "climate.living_room"
      selector:
        entity:
          domain: climate

enable_schedule:
  name: Enable climate schedule
  description: Enable automatic scheduling for a climate entity
  fields:
    entity_id:
      description: Climate entity to enable
      required: true
      example: "climate.living_room"
      selector:
        entity:
          domain: climate

disable_schedule:
  name: Disable climate schedule
  description: Disable automatic scheduling for a climate entity
  fields:
    entity_id:
      description: Climate entity to disable
      required: true
      example: "climate.living_room"
      selector:
        entity:
          domain: climate

create_group:
  name: Create thermostat group
  description: Create a new group to share schedules between multiple thermostats
  fields:
    group_name:
      description: Name for the new group
      required: true
      example: "Bedrooms"
      selector:
        text:

delete_group:
  name: Delete thermostat group
  description: Delete a thermostat group
  fields:
    group_name:
      description: Name of the group to delete
      required: true
      example: "Bedrooms"
      selector:
        text:

add_to_group:
  name: Add thermostat to group
  description: Add a climate entity to a group
  fields:
    group_name:
      description: Name of the group
      required: true
      example: "Bedrooms"
      selector:
        text:
    entity_id:
      description: Climate entity to add to the group
      required: true
      example: "climate.bedroom_1"
      selector:
        entity:
          domain: climate

remove_from_group:
  name: Remove thermostat from group
  description: Remove a climate entity from a group
  fields:
    group_name:
      description: Name of the group
      required: true
      example: "Bedrooms"
      selector:
        text:
    entity_id:
      description: Climate entity to remove from the group
      required: true
      example: "climate.bedroom_1"
      selector:
        entity:
          domain: climate

get_groups:
  name: Get all groups
  description: Retrieve all thermostat groups

set_group_schedule:
  name: Set group schedule
  description: Set schedule for all thermostats in a group
  fields:
    group_name:
      description: Name of the group
      required: true
      example: "Bedrooms"
      selector:
        text:
    nodes:
      description: List of schedule nodes with time and temperature
      required: true
      example: '[{"time": "07:00", "temp": 21}, {"time": "23:00", "temp": 18}]'
    day:
      description: Day of week for this schedule (all_days, mon, tue, wed, thu, fri, sat, sun, weekday, weekend)
      required: false
      default: "all_days"
      example: "mon"
      selector:
        text:
    schedule_mode:
      description: Schedule mode (all_days, 5/2, individual)
      required: false
      default: "all_days"
      example: "individual"
      selector:
        text:
